doctype html
html(lang="ru")
	include include/_head

	body.page
		.wrapper
			.header
				include include/_header
				include include/_menu
			.content.content--right-sidebar
				.content__wrapper.text-uppercase
					h1 Добро пожаловать на 21 Всероссийская конференция по неразрушающему контролю!
					p 3 марта 2017 во время 20-й Всероссийской конференции по НК состоится очередное отчетно-выборное собрание РОНКТД. На нем планируется принять ряд важных документов, которые впоследствии должны будут определять дальнейшую работу Общества, его структуру и органы управления.
					p Неразрушающий контроль, не смотря на множество негативных мнений и критических замечаний, одна из немногих высокотехнологичных областей прикладной науки в России, которая не утратила своей конкуренто-способности.
					p Российские учёные и специалисты НК по-прежнему высоко ценятся и имеют заслуженный авторитет среди коллег во всем мире. Другое дело, что в России внедрение современных методов и оборудования НК, проведение независимого контроля, качественная подготовка специалистов, обновление нормативной базы в промышленности шло в последние 20 лет очень слабыми темпами. Как следствие, непрекращающаяся череда аварий и катастроф, отсутствие финансирования отечественных разработок, распределение заказов между карманными компаниями, потеря престижа профессии, старение и огромный дефицит квалифицированных кадров.
					p Ситуация очень сложная. И для того, чтобы её изменить, Общество обязано усилить свою деятельность в России, стать способным изменяться и адаптироваться к запросам времени, занять активную позицию по отношению к существующим у нас проблемам.
					p Участники выставки — это производители и поставщики, заинтересованные в эффективном продвижении продукции сварочного назначения.

					h2 Участники Weldex 2015
					.participants
						.participants__item
							img.icon(src="img/eksponentov.png", alt="")
							.detail
								|<span>187</span><br><span>Экспонентов</span>

						.participants__item.participants__item--narrow
							img.icon(src="img/stran.png", alt="")
							.detail
								|<span>14</span><br><span>Cтран</span>

						.participants__item.participants__item--wide
							img.icon(src="img/vystavochnaya-ploshad.png", alt="")
							.detail
								|<span>9 251 М</span><br><span>Выставочная площадь</span>
					a(href="") Преимущества участия >>
					p Посетители выставки — генеральные директора, руководители, главные технологи, сварщики, инженеры и другие специалисты сварочного производства предприятий машиностроительной, судостроительной, нефтегазовой промышленности, металлургии, а также специалисты предприятий автомобилестроения, авиастроения, строительства, военно-промышленного и железнодорожного  комплекса, энергетики и ЖКХ.

					h2 Посетители Weldex 2015
					.participants
						.participants__item
							img.icon(src="img/eksponentov.png", alt="")
							.detail
								|<span>5281</span><br><span>Посетитель</span>

						.participants__item
							img.icon(src="img/posetitelei.png", alt="")
							.detail
								|<span>5281</span><br><span>Посетитель</span>

						.participants__item
							img.icon(src="img/stran.png", alt="")
							.detail
								|<span>26</span><br><span>Стран</span>
				include include/_sidebar-right
		include include/_footer
		script(src="js/main.js")