doctype html
html(lang="ru")
	include include/_head

	body.page
		.wrapper
			.header
				include include/_header
			.breadcrumbs
				ol.breadcrumb
					li
						a(href="../") Главная
					li.active О конференции
			.content.content--right-sidebar.content--left-sidebar
				.content__wrapper.text-uppercase
					h3 О конференции
					p 3 марта 2014 во время 20-й Всероссийской конференции по НК состоится очередное отчетно-выборное собрание РОНКТД. На нем планируется принять ряд важных документов, которые впоследствии должны будут определять дальнейшую работу Общества, его структуру и органы управления.
					p Неразрушающий контроль, не смотря на множество негативных мнений и критических замечаний, одна из немногих высокотехнологичных областей прикладной науки в России, которая не утратила своей конкуренто-способности.
					p Российские учёные и специалисты НК по-прежнему высоко ценятся и имеют заслуженный авторитет среди коллег во всем мире. Другое дело, что в России внедрение современных методов и оборудования НК, проведение независимого контроля, качественная подготовка специалистов, обновление нормативной базы в промышленности шло в последние 20 лет очень слабыми темпами. Как следствие, непрекращающаяся череда аварий и катастроф, отсутствие финансирования отечественных разработок, распределение заказов между карманными компаниями, потеря престижа профессии, старение и огромный дефицит квалифицированных кадров.
					p Ситуация очень сложная. И для того, чтобы её изменить, Общество обязано усилить свою деятельность в России, стать способным изменяться и адаптироваться к запросам времени, занять активную позицию по отношению к существующим у нас проблемам.
					a(href="../") Назад
				include include/_sidebar-left
				include include/_sidebar-right
		include include/_footer
		script(src="js/main.js")