.footer.skew.skew--top.skew--right
	.footer__wrapper
		.menu.menu--bottom
			a.menu__item.menu--bottom__item(href="#" rel="nofollow") О конференции
			a.menu__item.menu--bottom__item(href="#" rel="nofollow") Участникам
			a.menu__item.menu--bottom__item(href="#" rel="nofollow") Организатор
			a.menu__item.menu--bottom__item(href="#" rel="nofollow") Пресс-центр
			a.menu__item.menu--bottom__item(href="#" rel="nofollow") Контакты
		.contacts
			span.copyright &copy; 2016
			br
			a.sitemap(href="#") Карта сайта
			span.address Россия, 119048, Москва, ул. Усачева. д. 35, стр 1
			br
			|Тел.:
			a.phone(href="tel:+74992455656") +7 (499) 245-56-56
			|, Факс
			span.fax +7 (499) 246-88-88
			|, E-mail
			a(href="mailto:info@ronktd.ru") info@ronktd.ru