.skew.skew--right.skew--bottom
	.header__wrapper
		.menu.menu--main
			a.menu__item.menu--main__item(href="#")
				.icon
					img(src="img/online-registratsiya.png" alt="")
				.name Онлайн регистрация
			a.menu__item.menu--main__item(href="#")
				.icon
					img(src="img/programa.png" alt="")
				.name Программа
			a.menu__item.menu--main__item(href="#")
				.icon
					img(src="img/trebovaniya-k-dokladam.png" alt="")
				.name Требования к докладам				
			a.menu__item.menu--main__item(href="#")
				.icon
					img(src="img/nauchniy-comitet.png" alt="")
				.name Научный коммитет							
			a.menu__item.menu--main__item(href="#")
				.icon
					img(src="img/stoimost-uchastiya.png" alt="")
				.name Стоимость участия