.sidebar.sidebar--right
	.sidebar__item.news
		h3 Новости
		.news__list
			a.news__item(href="")
				.date 20 мая 2014
				.preview-text В Подмосковье – на Киевском направлении МЖД, в районе станции Бекасово-1, грузовой состав протаранил пассажирский поезд.
			a.news__item(href="")
				.date 02 февраля 2014
				.preview-text Ракета-носитель "Протон-М" Фрагменты ракеты-носителя "Протон-М", которая должна была вывести на орбиту спутник связи "Экспресс-АМ4Р", сгорели в плотных слоях атмосферы над Тихим океаном.
	.sidebar__item.banners
		h3 Баннеры
		.banners__list
			a.banners__item(href="")
				img(src="http://placehold.it/293x124", alt="")
			a.banners__item(href="")
				img(src="http://placehold.it/293x124", alt="")
			a.banners__item(href="")
				img(src="http://placehold.it/293x124", alt="")