.sidebar.sidebar--left
	.menu.menu--sidebar
		ul.menu__wrapper.menu--sidebar__wrapper
			li.menu__item.menu--sidebar__item
				span Программа конференции
			li.menu__item.menu--sidebar__item.menu--sidebar__item--active
				a(href="#") Научный 
			li.menu__item.menu--sidebar__item
				a(href="#") Пленарное заседание
			li.menu__item.menu--sidebar__item
				a(href="#") Место проведения
			li.menu__item.menu--sidebar__item
				a(href="#") История
			li.menu__item.menu--sidebar__item
				a(href="#") Организатор